/* General Settings */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 80%;
}

body {
    font-family: sans-serif;
    color: #33475b;
}

a {
    text-decoration: none;
    color: inherit;
}

label {
  position: relative;
}

label:before {
  content: "";
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") center / contain no-repeat;
}


input {
    margin: 0.2rem;
    padding: 0.2rem 2rem;
    border: 2px solid #6bdbd0;
    border-radius: 4px;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.check-mark {
    color: white;
    background-color: #ff7a59;
    border-radius: 50%;
    margin-left: 1rem;
    padding: 0 0.2rem;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.generic-button {
    background-color: #ff7a59;
    border-radius: 4px;
    color: #fff;
    padding: 0.8rem;
    text-align: center;
    transition: background 0.3s ease-out;
}

.generic-button:hover {
    background: #f0b6aa;
}

/* General Settings end */

/* Navbar section */

header {
    display: initial;
}

nav {
    height: 5rem;
    width: 100%;
}

nav .wrapper {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#bottom-nav .wrapper .float-right, #bottom-nav .wrapper .float-left {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

#top-nav .wrapper .float-left {
    position: relative;
    top: 50%;
    transform: translate(0, 50%);
}

#top-nav {
    background-color: #f2f7ff;
}

#top-nav a:nth-child(2) {
    padding-left: 0.75rem;
}

#language-picker {
    padding: 0 0.75rem 0 0;
    border-right: 1px solid black;
}

#search-input {
    max-width: 1rem;
    transition: max-width 1s ease-out;
}

#search-input:focus {
    max-width: 10rem;
    outline: none;
}

#login-button {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    margin: 0 1.5rem;
    transition: all 0.3s ease-out;
}

#login-button:hover {
    background-color: #ff7a59;
    color: #fff;
}

#bottom-nav {
    border-top: 1px solid black;
    position: sticky;
    background: white;
    top: 0;
    left: 0;
}

#bottom-nav a {
    font-weight: bold;
    margin-left: 1rem;
}

.drop-down {
    width: 0.8rem;
    display: inline-block;
    transform: rotate(-90deg);
    margin: 0 0.8rem;
}

/* Navbar end */

/* Main generals */

main h1 {
    font-size: 3.5rem;
    margin: 3rem 0;
    max-width: 38rem;
}
main h2 {
    font-size: 3rem;
    margin: 3rem 0;
}
main h3 {
    font-size: 2.5rem;
}
main h4 {
    font-size: 2rem;
}
main h5 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
main h6 {
    font-size: 1rem;
    margin: 2rem 0;
    font-weight: lighter;
}
main p {
    font-size: 1.5rem;
    margin: 3rem 0;
    line-height: 2.5rem;
}
main .generic-button {
    padding: 1.5rem;
    display: inline-block;
    margin: 2rem 0;
}
section {
    padding: 2rem 0;
}

/* Main Generals end */

/* Jumbotron Section */

#jumbotron {
    background-image: url("../images/jumbotron.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 80vh;
}

main .wrapper {
    min-height: 10rem;
}
/*
#jumbotron a {
    margin: 4rem 0;
} */

#jumbotron p {
    max-width: 50rem;
}

/* Jumbotron Section end */

/* Infos Section */

#infos {
    text-align: center;
    background-color: #f2f7ff;
    min-height: 80vh;
}

#infos img {
    width: 10rem;
    height: 10rem;
}
.learn-more {
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 10px grey;
}
.learn-more1 {
    width: 100%;
    padding: 5rem;
}
.learn-more1 .float-left {
    padding: 2rem;
}
.learn-more1 .float-left:first-child {
    width: 15rem;
}
.learn-more1 .float-left:nth-child(2) {
    width: 70%;
    text-align: left;
}
.learn-more-container {
    padding: 5rem 0;
}
.mini-wrapper {
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}
.learn-more-container img {
    margin: 1rem 0 3rem 0;
}
.learn-more2, .learn-more3, .learn-more4 {
    max-width: 30%;
    padding: 0 2rem;
}
.learn-more2, .learn-more3 {
    margin-right: 5%;
}

/* Infos Sction end */

/* Statistic Section */

#statistics {
    background-image: linear-gradient(to top right, #00bfd1, #00c4aa);
    min-height: 50vh;
    text-align: center;
    color: white;
}

.checks {
    width: 100%;
    text-align: left;
}

.statistics-row {
    width: 100%;
    height: 25vh;
}

.statistic {
    height: 100%;
    width: 25%;
    border-left: 1px solid white;
    padding: 3rem 2rem;
}

.statistic:first-of-type {
    border: none;
}

.row1 {
    border-bottom: 1px solid white;
    margin-top: 8rem;
}

#statistics img {
    max-width: 150px;
    max-height: 80px;
    margin: 2rem auto;
}

#statistics p, #statistics h2 {
    margin: 1rem 0;
}

#statistics span {
    font-size: 2rem;
    font-weight: normal;
}

/* Statistic Section end */

/* Customer Section */

#customers, #if-you-didnt-decide-yet {
    width: 100%;
}

#customers-numb {
    width: 30%;
    padding: 0 5rem;
}

/* #customers div:last-child {
    width: 70%;
} */

#customers img {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    margin: 3rem 2rem 0 0;
}
#customers svg {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    margin: 3rem 2rem 0 0;
}

#if-you-didnt-decide-yet div:first-child {
    width: 40%;
}
#if-you-didnt-decide-yet h3 {
    margin-top: 5rem;
}

#if-you-didnt-decide img {
    max-width: 30rem;
}

/* Customer Section end */

/* Footer */

footer {
    background: #3a4963;
    padding: 3rem 0;
}

footer a {
    color: white;
}

footer h4 {
    margin: 1rem 0 2rem 0;
}

footer p {
    margin: 1rem 0;
}

footer .clearfix {
    width: 100%;
}

footer .center {
    margin: 3rem auto;
}

footer .float-left {
    width: 15%;
    margin-right: 4%;
}

footer .float-left:nth-child(2) {
    margin-top: 3rem;
}

footer .float-left:nth-child(3) {
    padding-left: 5%;
    padding-bottom: 3rem;
    width: 20%;
    border-left: 1px solid white;
}

footer img {
    width: 30px;
    margin-right: 3rem;
}

footer svg {
    fill: white;
}

footer h6 {
    margin: 1rem;
    color: white;
}

#white-logo {
    width: 120px;
    margin-right: 0;
}

footer .center:nth-of-type(3) a {
    padding: 0 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

footer .center:nth-of-type(3) a:nth-of-type(2) {
    border-left: 1px solid white
}
