* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: #33475b;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    margin: 0.2rem;
    padding: 0.2rem 1rem;
    border: 2px solid #6bdbd0;
    border-radius: 4px;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.generic-button {
    background-color: #ff7a59;
    border-radius: 4px;
    color: #fff;
    padding: 0.8rem;
    text-align: center;
}

nav {
    height: 5rem;
    width: 100%;
}

nav .wrapper {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    content: "";
    clear: both;
    display: table;
}

#top-nav {
    background-color: #f2f7ff;
}

#top-nav a:nth-child(2) {
    padding-left: 0.75rem;
}

#language-picker {
    padding: 0 0.75rem 0 0;
    border-right: 1px solid black;
}

#search-input {
    max-width: 2rem;
    transition: max-width 1s ease-out;
}

#search-input:focus {
    max-width: 10rem;
    outline: none;
}

#login-button {
    background-color: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
    margin: 0 1.5rem;
}

#bottom-nav {
    border-top: 1px solid black;
}

.tendina-wrapper {

}

/* Navbar end */

main h1 {
    font-size: 3.5rem;
    margin: 3rem 0;
    max-width: 38rem;
}
main h2 {
    font-size: 3rem;
    margin: 3rem 0;
}
main h3 {
    font-size: 2.5rem;
}
main h4 {
    font-size: 2rem;
}
main h5 {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
main h6 {
    font-size: 1rem;
    margin: 2rem 0;
    font-weight: lighter;
}
main p {
    font-size: 1.5rem;
    margin: 3rem 0;
}
main .generic-button {
    padding: 1.5rem;
    display: inline-block;
    margin: 2rem 0;
}
section {
    padding: 2rem 0;
}

/* Jumbotron Section */

#jumbotron {
    background-image: url("../images/jumbotron.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    min-height: 80vh;
}

main .wrapper {
    min-height: 10rem;
}
/*
#jumbotron a {
    margin: 4rem 0;
} */

#jumbotron p {
    max-width: 50rem;
}

#jumbotron h6 {
    margin: 5rem 0;
}

/* Jumbotron Section end */

/* Infos Section */

#infos {
    text-align: center;
    background-color: #f2f7ff;
    min-height: 80vh;
}
#infos .wrapper {
    /* position: relative;
    content: "";
    clear: both;
    display: table; */
}
#infos img {
    max-width: 20rem;
    margin: 4rem 0 0 0;
}
#infos .float-left {
    /* background-color: white; */
}
#infos svg {
    width: 10rem;
}
.learn-more {
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 10px grey;
}
.learn-more1 {
    padding: 5rem;
    content: "";
    clear: both;
    display: table;
}
.learn-more1 .float-left {
    padding: 2rem;
}
.learn-more1 .float-left:first-child {
    width: 15rem;
}
.learn-more1 .float-left:nth-child(2) {
    width: 70%;
    text-align: left;
}
.learn-more-container {
    padding: 5rem 0;
    content: "";
    clear: both;
    display: table;
}
.learn-more2, .learn-more3, .learn-more4 {
    max-width: 30%;
}
.learn-more2, .learn-more3 {
    margin-right: 5%;
}
